[Desktop Entry]
Name=Sora
Comment=空のように軽やかなデスクトップメールクライアント
Exec=sora
Icon=dev.lutelute.sora
Type=Application
Categories=Network;Email;
StartupWMClass=Sora
StartupNotify=true
